@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#main {
  margin: auto;
  width: 720px;
  text-align: center;
}

#find-primes {
  font-family: inherit;
  font-size: 18px;
  padding: 6px 24px;
  background: #56A3A6;
  border: 1px solid #444;
  color: #fff;
}

#primes-list {
  padding: 0;
}

#primes-list li {
  padding: 8px;
  margin: 4px;
  font-size: 24px;
  list-style-type: none;
  display: inline-block;
  text-align: right;
  width: 64px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#benchmark {
  color: #fff;
}